#botonRegistro {
    background-color: #28a745;
    border: 1px solid transparent;
    color: whitesmoke;
}

#botonRegistro:hover {
    background-color: #343a40;
    border: 1px solid  #28a745;
    color:  #28a745;
}

