*{
	margin: 0px;
	padding: 0px;
	font-family: 'Lato', sans-serif;
	scroll-behavior: smooth;
}
body{
	background-image: url("../images/BG.jpg");
	background-repeat: no-repeat;
}

/*NAV*/
#navbar {
	height: 3.5em;
}
/*FIN NAV*/

#slogan{
	font-size: 50px;
	color: #3c3c3b;
	text-shadow: 1px 2px 1px black;
}

/*Texto aside*/
#cajaSlogan{
	height: 500px;
}

/*Fin texto aside*/

/*Boton*/
#registro{
	background-color: #28a745;
	color: whitesmoke;
	border: 1px solid #28a745;
	border-radius: 25px;
	padding: 1%;
	font-size: 1em;
	width: 50%;
	margin-left: 25%;
	transition: 0.2s;
}
#registro:hover{
	background-color: transparent; ;
	color: #28a745;
	border: 1px solid #28a745;
	font-weight: bolder;
}
#mapa{
	background-color: #cf1010;
	border: 1px solid whitesmoke;
	color: whitesmoke;
	padding: 0.5%;
	margin-left: 47%;
	transition: 1s;
}

#mapa:hover{
	background-color: #640505;
}
.textoBoton{
	padding: 2%;
	text-align: justify;
	text-align: center;
	font-size: 1.3em;
}
/*fin boton*/

/*Titulos*/
.titulos{
	color: whitesmoke;
	font-size: 2em;
	font-weight: bold;
	text-shadow: 1px 1px 10px  black;
	padding-top: 1.5em;
}

/*Articulos*/
article{
	width: 99%;
	height: 700px;
}
#articulo2, #articulo4{
	width: 100%;
	background: rgb(29,167,14);
	background: linear-gradient(173deg, rgba(29,167,14,1) 0%, rgba(10,159,56,1) 30%, rgba(0,255,124,1) 100%);
	text-align: center;
}
#articulo3{
	width: 100%;
	background: rgb(56,1,1);
	background: linear-gradient(186deg, rgba(56,1,1,1) 0%, rgba(207,16,16,1) 30%, rgba(255,0,0,1) 100%);
	text-align: center;
}
.textoArticulo{
	padding: 2%;
	text-align: justify;
	text-align: center;
	font-size: 1.3em;
	margin-top: 2%;
	color:whitesmoke;
}
.iconos{
	width: 50%;
	text-align: center;
}
.tarjetas{
	display: inline-block;
	text-align: center;
	padding: 2% 0;
}
.tarjeta1{
	display: inline-block;
	width: 30%;
	text-align: center;
}
.tarjeta2{
	display: inline-block;
	width: 30%;
	text-align: center;
}
.tarjeta3{
	display: inline-block;
	width: 30%;
	text-align: center;
}
.titulo-tarjeta{
	color: whitesmoke;
	font-size: 1.5em;
	text-align: center;
	text-shadow: 1px 1px 10px black;
}
.contenido-tarjeta{
	color: whitesmoke;
	text-shadow: 1px 1px 20px black;
}
#enviar{
	background-color: #cf1010;
	border: 1px solid whitesmoke;
	color: whitesmoke;
	padding: 0.5%;
	width: 10%;
	font-weight: bold;
}
/*Linea*/
.separador {
  border-top: 1px dashed white;
  box-shadow: 1px 1px 10px black;
  margin-left: 40%;
  margin-right: 40%;
}